* {
    margin: 2px;
    padding: 0px;
    font-family: century;
}



header {
    background-image: url("./Images/background.jpg");
    background-size: cover;
    height: 100%;
    background-attachment: fixed;

}

header main {
    display: flex;
    justify-content: space-between;
}

.logo img {
    border: 3px solid black;
    border-radius: 50%;
    height: 100px;
    margin-top: 10px;
    margin-left: 30px;
    flex: 1;
    transition-duration: 2s;
}

.logo img:hover {

    border: 3px solid brown;
    border-radius: 50%;
    height: 100px;
    margin-top: 10px;
    margin-left: 30px;
    flex: 1;
    transform: scale(0.5, 1);
    transition-duration: 2s;
    filter: grayscale(20);
}

.list-1 ul li {
    margin-top: 40px;
    display: inline-block;
    margin-right: 20px;
    list-style: none;



}

.list-1 ul li a {

    text-decoration: none;
    color: white;
    font-size: 20px;
}

.list-1 ul li a:hover {
    background-color: white;
    color: black;
    border: 1px solid transparent;
}

.title-1 {
    color: wheat;
    margin-top: 200px;
    text-align: center;
    padding-bottom: 0px;
    font-size: 50px;

}

.curicle {
    height: 35px;
    width: 25px;
    border: 3px solid white;
    border-radius: 10px;
    margin-top: 200px;
    text-align: center;
    margin-left: 600px;

}


main .checkingDate {
    padding: 10px;
    background-color: bisque;

}

.checkingDate form {
    margin-left: 20px;
    margin-right: 20px;
    justify-content: space-around;
}

.checkingDate form input {
    border: 3px solid brown;
    border-radius: 10px;
    font-weight: 100;
    font-size: 25px;
    width: 200px;
}

.checkingDate form select {
    border: 3px solid brown;
    border-radius: 10px;
    font-weight: 100;
    font-size: 25px;
    width: 200px;
}

.checkingDate form .btn {
    border: 4px solid brown;
}

.card-deck {
    padding: 20px;
    transition: 3s;
}

.card-deck img {
    transition-duration: 3s;
}


.card-deck img:hover {
    transform: scale(0.5, 1);
    border-radius: 50%;
    filter: grayscale(20);
    transition-duration: 3s;
    border: 5px solid black;
    box-shadow: 10px 10px 10px 10px black;
}

.card-deck .card:hover {
    border: 3px solid rgb(226, 92, 92);
}



/* servicess */

div.background {
   
    border: 2px solid black;
    margin: 0px;
    background-color: rgba(206, 153, 241, 0.20);
    border: 1px solid black;
    opacity: 2;
}

div.transbox {
    margin: 0px;
    opacity: 10;
}

div.transbox h1 {
    margin: 5%;
    font-weight: bold;
    color: wheat;
}

.informationabout{
    background-color: lightgray;
    /* border: 3px solid brown; */
    border-radius: 13px;
    margin-bottom: 10px;
    transition-duration: 1s;
   
}


.informationabout:hover{
    background-color: lightgray;
    border: 3px solid brown;
    border-radius: 13px;
    margin-bottom: 10px;
    box-shadow: 5px 5px 20px 5px blue;
    

}

/* End---servicess */

.msgNoti{
    background-color: beige;
    transition-duration: 2s;
    padding: 20px;
}
.msgNoti:hover{
    box-shadow: 5px 5px 20px 5px black;
    /* transition-duration: 2s; */
}

.fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.inputField{
    display: flex;
    flex-direction: column;
    margin: 4px 0;
    width: calc(100% / 2 - 15px);
}
.inputField input{
    border: 1px solid black;
    border-radius:  5px;
    font-size: 20px;
}
.subMenu1{
    display: none;
}

.list-1 ul li:hover .subMenu1{
    display: block;
    position: absolute;
    margin-top: 1px; 
    margin-left: -15px;
     background-color: rgba(123, 173, 123, 0.01); 
}
.list-1 ul li:hover .subMenu1 ul li{
    display: block;
    margin: 10px;
}

.subMenu2{
    display: none;
}

.hover_me:hover .subMenu2{
    display: block;
    position: absolute;
    margin-top: -40px; 
    margin-left: 70px;
    background-color: rgba(123, 173, 123, 0.1); 
  
}



